<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos - CENCAICO</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    {% include "nav.html" %}

    <div class="header__wrapper">
        <header>
            <h2>Cursos</h2>
        </header>
    </div>

    <div class="courses__container">
        <div class="courses__content-grid">
            <div class="courses__content-item">
                <img src="static/images/courses/courses-img-1.JPG" alt="">
            </div>
            <div class="courses__content-item">
                <h3>Cursos</h3>
                <h2>Centro de capacitación en técnicas <strong>innovadoras de construcción y diseño.</strong></h2>
                <hr>
                <p>
                    En <strong>CENCAICO</strong> ofrecemos programas de capacitación especializados en técnicas innovadoras para la contstrucción y el diseño. Nuestros cursos están diseñados para brindar conocimientos prácticos y actualizados, permitiendo desarrollar habilidades de un gran nivel con materiales y herramientas de última generación.
                </p>
            </div>
        </div>

        <div class="courses__container-2">
            <div class="courses__content">
                <h3>Cursos</h3>
                <h2>CENCACICO</h2>
                <div class="courses__grid-2">
                    <div class="courses__grid-item-2">
                        <h4>Melamina y Diseño de Muebles 3D</h4>
                        <p>
                            Aprende a diseñar y fabricar muebles de melamina con técnicas profesionales. Desde la elección de materiales hasta el ensamblaje. Nuestro curso te enseñará a crear piezas funcionales y estéticas.
                        </p>
                        <div class="swiper swiper-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="static/images/courses/melamina/img-1.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/images/courses/melamina/img-2.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(min-width: 901px)" srcset="static/images/courses/melamina/img-3.png">
                                        <img src="static/images/courses/melamina/img-3-small.webp" alt="" class="swiper__img">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/images/courses/melamina/2.png" alt="" class="swiper__img">
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-1"></div>
                            <div class="swiper-button-prev swiper-button-prev-1"></div>
                            <div class="swiper-button-next swiper-button-next-1"></div>
                        </div>
                        <script>
                            const swiper1 = new Swiper('.swiper-1', {
                                // Optional parameters
                                direction: 'horizontal',
                                loop: true,
                                autoplay: {
                                    delay: 3000,
                                    disableOnInteraction: false,
                                },
                                // If we need pagination
                                pagination: {
                                    el: '.swiper-pagination-1',
                                },
                                // Navigation arrows
                                navigation: {
                                    nextEl: '.swiper-button-next-1',
                                    prevEl: '.swiper-button-prev-1',
                                },
                            });
                        </script>
                        <a href="/melamina-arequipa" class="btn--grid" target="_blank">Inscribirse aquí</a>
                    </div>
                    <div class="courses__grid-item-2">
                        <h4>Porcelanato Líquido con Resina Epoxy</h4>
                        <p>
                            Domina la aplicación de estos materiales innovadores para crear pisos y superficies de alto impacto. Aprende a realizar acabados duraderos, decorativos y altamente resistentes.
                        </p>
                        <div class="swiper swiper-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="static/images/courses/porcelanato/img-1.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/images/courses/porcelanato/img-2.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/images/courses/porcelanato/img-3.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/images/courses/porcelanato/img-4.jpeg" alt="" class="swiper__img">
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-2"></div>
                            <div class="swiper-button-prev swiper-button-prev-2"></div>
                            <div class="swiper-button-next swiper-button-next-2"></div>
                        </div>
                        <script>
                            const swiper2 = new Swiper('.swiper-2', {
                                // Optional parameters
                                direction: 'horizontal',
                                loop: true,
                                autoplay: {
                                    delay: 3000,
                                    disableOnInteraction: false,
                                },
                                // If we need pagination
                                pagination: {
                                    el: '.swiper-pagination-2',
                                },
                                // Navigation arrows
                                navigation: {
                                    nextEl: '.swiper-button-next-2',
                                    prevEl: '.swiper-button-prev-2',
                                },
                            });
                        </script>
                        <a href="/porcelanato-arequipa" class="btn--grid" target="_blank">Inscribirse aquí</a>
                    </div>
                    <div class="courses__grid-item-2">
                        <h4>Drywall</h4>
                        <p>
                            Conviértete en un experto en construcción en seco y optimiza espacios con estructuras modernas. Aprende a instalar tabiques, techos falsos y a manejar herramientas especializadas.
                        </p>
                        <div class="swiper swiper-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="static/images/courses/drywall/img-1.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(min-width: 901px)" srcset="static/images/courses/drywall/img-2.jpeg">
                                        <img src="static/images/courses/drywall/img-2-small.webp" alt="" class="swiper__img">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                        <picture>
                                            <source media="(min-width: 901px)" srcset="static/images/courses/drywall/img-3.jpeg">
                                            <img src="static/images/courses/drywall/img-3-small.webp" alt="" class="swiper__img">
                                        </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(min-width: 901px)" srcset="static/images/courses/drywall/img-4.jpeg">
                                        <img src="static/images/courses/drywall/img-4-small.webp" alt="" class="swiper__img">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-3"></div>
                            <div class="swiper-button-prev swiper-button-prev-3"></div>
                            <div class="swiper-button-next swiper-button-next-3"></div>
                        </div>
                        <script>
                            const swiper3 = new Swiper('.swiper-3', {
                                // Optional parameters
                                direction: 'horizontal',
                                loop: true,
                                autoplay: {
                                    delay: 3000,
                                    disableOnInteraction: false,
                                },
                                // If we need pagination
                                pagination: {
                                    el: '.swiper-pagination-3',
                                },
                                // Navigation arrows
                                navigation: {
                                    nextEl: '.swiper-button-next-3',
                                    prevEl: '.swiper-button-prev-3',
                                },
                            });
                        </script>
                        <a href="/drywall-arequipa" class="btn--grid" target="_blank">Inscribirse aquí</a>
                    </div>
                    <div class="courses__grid-item-2">
                        <h4>Pinturas Decorativas</h4>
                        <p>
                            Descubre el arte sobre todos los acabados: Estuco veneciano, Finocemento, Microcemento, Granallado, Texturas, entre otros.
                        </p>
                        <div class="swiper swiper-4">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <picture>
                                            <source media="(min-width: 901px)" srcset="static/images/courses/estuco/img-1.jpg">
                                            <img src="static/images/courses/estuco/img-1-small.webp" alt="" class="swiper__img">
                                        </picture>
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/images/courses/estuco/img-2.jpeg" alt="" class="swiper__img">
                                </div>
                                <div class="swiper-slide">
                                        <picture>
                                            <source media="(min-width: 901px)" srcset="static/images/courses/estuco/img-3.jpg">
                                            <img src="static/images/courses/estuco/img-3-small.webp" alt="" class="swiper__img">
                                        </picture>
                                </div>
                                <div class="swiper-slide">
                                        <picture>
                                            <source media="(min-width: 901px)" srcset="static/images/courses/estuco/img-4.jpg">
                                            <img src="static/images/courses/estuco/img-4-small.webp" alt="" class="swiper__img">
                                        </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-4"></div>
                            <div class="swiper-button-prev swiper-button-prev-4"></div>
                            <div class="swiper-button-next swiper-button-next-4"></div>
                        </div>
                        <script>
                            const swiper4 = new Swiper('.swiper-4', {
                                // Optional parameters
                                direction: 'horizontal',
                                loop: true,
                                autoplay: {
                                    delay: 3000,
                                    disableOnInteraction: false,
                                },
                                // If we need pagination
                                pagination: {
                                    el: '.swiper-pagination-4',
                                },
                                // Navigation arrows
                                navigation: {
                                    nextEl: '.swiper-button-next-4',
                                    prevEl: '.swiper-button-prev-4',
                                },
                            });
                        </script>
                        <a href="" class="btn--grid" target="_blank">Inscribirse aquí</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>
</html>