<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos LDR - CENCAICO</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drywalldata_styles.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>Curso de Drywall</h1>
</header>

<div class="container">
    <h2>Usuarios Registrados</h2>
    <div class="table__wrapper">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Numero</th>
                    <th>Rubro</th>
                    <th>Disponibilidad</th>
                    <th>Inicio de Curso (Interesados)</th>
                    <th>Costos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for data in rows %}
                <tr>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                    <td>{{ data[5] }}</td>
                    <td>{{ data[6] }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_data2', id=data[0]) }}">
                            <button type="submit" class="delete-btn">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
