<footer>
    <div class="footer__grid">
        <div class="footer__grid-item">
            <h2>Contacto</h2>
            <p>CENCAICO SACS</p>
            <p><strong>Dirección:</strong> Avenida Progreso 542, Miraflores, Arequipa, Perú</p>
            <p><strong>Teléfono:</strong> +51 997 546 028</p> 
            <p><strong>Correo:</strong> <a href="mailto:cencaico.ventas@gmail.com">cencaico.ventas@gmail.com</a></p>
        </div>
        <div class="footer__grid-item">
            <h2>Servicios</h2>
            <p><a href="/services">Asesorías personalizadas</a>
            <p><a href="/services">Desarollo de proyectos</a></p>
            <p><a href="/services">Pisos industriales</a></p>
            <p><a href="/services">Consultoría en innovación</a></p>
            
        </div>
        <div class="footer__grid-item">
            <h2>Catálogo</h2>
            <p><a href="/catalog">Kits completos</a></p>
            <p><a href="/catalog">Herramientas especializadas</a></p>
            <p><a href="/catalog">Materiales de alta calidad</a></p>
            <p><a href="/catalog">Opciones de compra y asesorías personalizadas</a></p>
        </div>
        <div class="footer__grid-item">
            <h2>Síguenos</h2>
            <div class="footer__grid-item-links">
                <a href="https://www.instagram.com/cencaico?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="static/icons/instagram.svg" alt=""></a>
                <a href="https://www.facebook.com/cencaico" target="_blank"><img src="static/icons/facebook.svg" alt=""></a>
                <a href="https://www.tiktok.com/@cencaico?_t=ZM-8vHwLMPaq9O&_r=1" target="_blank"><img src="static/icons/tiktok-brands.svg" alt=""></a>
            </div>
        </div>
    </div>
    <hr>
    <a href="/condiciones" class="footer__link" target="_blank">Condiciones legales</a>
    <a href="/politicas" class="footer__link" target="_blank">Políticas de privacidad</a>
    <a href="/reclamaciones" class="footer__link" target="_blank">Libro de reclamaciones</a>
    <h3>Copyright © <strong>CENCAICO</strong> all rigths reserverd. </h3>
</footer>