<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro de Reclamaciones - CENCAICO</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ldr_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}

    <div class="content__wrapper">
        <div class="content__container">
            <h1>LIBRO DE RECLAMACIONES - CENCAICO SACS</h1>
            <hr>
            <p>
                En <strong>CENCAICO</strong> respetamos todas las normas que salvaguardan y protegen a nuestros clientes, por lo que ponemos a tu disposición el Libro Virtual, conforme al Código de Protección y Defensa del Consumidor.
            </p>
            <p>
                Queremos asegurarnos de que tus inquietudes sean atendidas de manera rápida y oportuna. Ten en cuenta que la solicitud que ingreses por este medio tiene un plazo de respuesta no mayor a 15 días.
            </p>

            <p>
                <h2 class="text"><strong>Razón Social: </strong> CENCAICO SACS</h2>
                <h2 class="text"><strong>Dirección: </strong> Avenida Progreso 542, Miraflores, Arequipa, Peru</h2>
            </p>

            <form action="">
                <fieldset>
                    <legend>INFORMACIÓN DEL CONSUMIDOR</legend>

                    <div class="form__grid">
                        <div class="form__grid-item">
                            <label for="nombre">*Nombres
                                <input type="text" name="nombre">
                            </label>
                        </div>
                        
                        <div class="form__grid-item">
                            <label for="apellidos">*Apellidos
                                <input type="text" name="apellidos">
                            </label>
                        </div>

                        <div class="form__grid-item">
                            <label for="direccion">*Domicilio
                                <input type="text" name="direccion">
                            </label>
                        </div>
    
                        <div class="form__grid-item">
                            <label for="dni">*DNI / CE:
                                <input type="text" name="dni">
                            </label>
                        </div>

                        <div class="form__grid-item">
                            <label for="phone">*Teléfono / Celular
                                <input type="number" name="phone">
                            </label>
                        </div>
    
                        <div class="form__grid-item">
                            <label for="mail">*Correo electrónico
                                <input type="mail" name="mail">
                            </label>
                        </div>
    
                        <div class="form__grid-item">
                            <label for="parents">*Padre o madre
                                <input type="text" name="parents">
                            </label>
                        </div>
        
                        <div class="form__grid-item">
                            <label for="">Represento a un menor de edad
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    
                    <p>
                        ** Al brindar mi correo electrónico, autorizo a que cualquier comunicación respecto al reclamo se realice a través del mismo.
                    </p>
                </fieldset>

                <fieldset>
                    <legend>IDENTIFICACIÓN DEL BIEN CONTRATADO</legend>
                    
                    <div class="form__grid-2">
                        <div class="form__grid-item-2">
                            <label for="">Producto
                                <input type="checkbox">
                            </label>
                        </div>
                       
                        <div class="form__grid-item-2">
                            <label for="">Monto reclamado:
                                <input type="number">
                            </label>
                        </div>

                        <div class="form__grid-item-2">
                            <label for="">Servicio
                                <input type="checkbox">
                            </label>
                        </div>

                        <div class="form__grid-item-2">
                            <label for="">Descripción:
                                <textarea name="" id=""></textarea>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>DETALLE DEL RECLAMO / QUEJA</legend>

                    <div class="form__grid-3">
                        <div class="form__grid-item-3">
                            <label for="reclamo">Reclamo
                                <input type="checkbox" name="reclamo">
                            </label>
                        </div>
                        
                        <div class="form__grid-item-3">
                            <label for="queja">Queja
                                <input type="checkbox" name="queja">
                            </label>
                        </div>

                        <div class="form__grid-item-3">
                            <label for="">*Detalle (Explica brevemente qué sucedió)
                                <textarea name="" id=""></textarea>
                            </label>
                        </div>

                        <div class="form__grid-item-3">
                            <label for="">*Pedido (Explica qué es lo que estás solicitando)
                                <textarea name="" id=""></textarea>
                            </label>
                        </div>

                        <div class="form__grid-item-3">
                            <p><strong>RECLAMO: </strong>Disconformidad relacionada a los productos ó servicios</p>
                            <p><strong>QUEJA: </strong>Disconformidad no relacionada a los productos ó servicios; malestar ó descontento respecto a la atención al público.</p>
                        </div>

                        <div class="form__grid-item-3">
                            <label for=""><input type="checkbox" name="" id=""> *Declaro ser el usuario del servicio o producto y acepto el contenido del presente formulario manifestando bajo Declaración Jurada la veracidad de los hechos descritos.
                            </label>
                        </div>
                    </div>
                    <p>
                        <strong>Notas: </strong>
                    </p>
                    <p>
                        La formulación del reclamo no impide acudir a otras vías de solución de controversias ni es requisito previo para interponer una denuncia ante el INDECOPI.
                    </p>
                    <p>
                        El proveedor deberá dar respuesta al reclamo en un plazo no mayor a quince (15) días hábiles, el cual no podrá ser extendido.
                    </p>
                </fieldset>

                <div class="form__button-grid">
                    <button class="button-item">Enviar</button>
                </div>
                
            </form>
        </div>
    </div>

    {% include "footer.html" %}
</body>
</html>