<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - CENCAICO</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/service_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}

    <div class="header__wrapper">
        <header>
            <h2>Servicios</h2>
        </header>
    </div> 

    <div class="services__container">
        <div class="services__content">
            <p>
                Además de nuestros cursos, ofrecemos una variedad de servicios para profesionales y empresas que buscan soluciones especializadas:
            </p>
            <div class="grid">
                <div class="grid-item">
                    <h3>Asesoría personalizada</h3>
                    <p>
                        Te guiamos en la aplicación de técnicas aprendidas en nuestros cursos.
                    </p>
                    <a href="https://wa.link/fg5kgg" class="btn btn--grid">Consulta aquí</a>
                </div>

                <div class="grid-item">
                    <h3>Desarrollo de proyectos</h3>
                    <p>
                        Ofrecemos apoyo en la ejecución de proyectos de construcción y diseño.
                    </p>
                    <a href="https://wa.link/fg5kgg" class="btn btn--grid">Consulta aquí</a>
                </div>

                <div class="grid-item">
                    <h3>Pisos Industriales</h3>
                    <p>
                        Elaboramos los pisos industriales para cualquier rubro y según el presupuesto indicado.
                    </p>
                    <div class="slide__wrapper">
                        <div class="slide">
                            <ul>
                                <li>
                                    <img src="static/images/services/img-1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="static/images/services/img-2.jpg" alt="">
                                </li>
                                <li>
                                    <img src="static/images/services/img-3.jpg" alt="">
                                </li>
                                <li>
                                    <img src="static/images/services/img-4.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <a href="https://wa.link/fg5kgg" class="btn btn--grid">Consulta aquí</a>
                </div>

                <div class="grid-item">
                    <h3>Consultoría en innovación</h3>
                    <p>
                        Te ayudamos a incorporar nuevas tecnologías y tendencias en tus proyectos.
                    </p>
                    <a href="https://wa.link/fg5kgg" class="btn btn--grid">Consulta aquí</a>
                </div>
            </div>
        </div>
        <div class="services__overlay"></div>
    </div>

    {% include "footer.html" %}
</body>
</html>